<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="SmartParkDb"
			 connectionString="server=localhost;port=3306;database=smartpark_db;user=root;password=admin"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>

		<!-- Define o serviço e os endpoints SOAP -->
		<services>
			<service name="SmartPark.SoapService.SmartParkSoapService">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="SmartPark.SoapService.ISmartParkSoapService" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<!-- Permite ver o WSDL e ajuda no debug -->
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								   multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>
